<!doctype html>
<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->
<html lang="en">
<head>
    #parse("head.vm")
    <title>MERCuRY Judgment Interface</title>
    <link rel="stylesheet" href="../css/welcome.css">
</head>
<body>
<div class="welcome-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
    <header class="welcome-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">MERCuRY Judgment Interface for <em>$user</em></span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>

            <nav class="mdl-navigation">
                <a class="mdl-button mdl-js-button mdl-js-button--colored" href="logout">
                    <i class="material-icons">&#xE879;</i>
                    Log off
                </a>
            </nav>
        </div>
    </header>
    <div class="welcome-ribbon"></div>
    <main class="welcome-main mdl-layout__content">
        <div class="welcome-container">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
                <div class="welcome-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
                    <h3>Judgment Guidelines</h3>
                    <p>
                        In this experiment, we are creating gold-standard judgements for the automatic patient cohort retrieval system.
                        For this purpose, for each query, we are presenting to you 20 EEG reports.
                        Some of them were ranked highly by the system, while others were randomly selected.
                    </p>
                    <p>
                        You have been given a number of queries to judge.
                        For each query, you are asked to judge whether each EEG report is:
                        <dl>
                            <dt>Relevant</dt>
                            <dd>A relevant EEG satisfies all the criteria from the query.</dd>

                            <dt>Partially Relevant</dt>
                            <dd>A partially relevant EEG satisifies only <emph>some</emph> of the criteria from the query (even when only a single criteria is satisfied).</dd>

                            <dt>Not relevant</dt>
                            <dd>A non-relevant EEG does not satisfy any of the criteria from the query.</dd>
                        </dl>
                        We have created special buttons for you to make you selection, as well as a box for you record an explanation behind your judgment.
                        After you have made your judgment (and entered your explanation), please use the <strong>SAVE</strong> button to record it.
                        <strong>Note:</strong> you may modify your judgments and explanations for a query as many times as you wish.
                    </p>
                    <p>
                        You can select any of the reports that you want to evaluate from the home page, or you can navigate using the <strong>BACK</strong> or <strong>NEXT</strong> buttons at the top of each EEG report.
                        Thank you for helping us generate these important gold-standard judgements.
                    </p>
                </div>
                </div>
                <div class="mdl-grid">
                     <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
                <div class="welcome-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
                    <h3>Judgment Queue</h3>
                    #set( $first = true )
                    #foreach( $jQuery in $judgments )
                        #set( $qid = $jQuery.getQueryId() )
                        #set( $reports = $jQuery.getReports() )

                        #if ($first)
                            #set( $first = false)
                        #else
                            <hr class="mdl-color-grey-200"/>
                        #end

                        <h5>Query <b>$qid</b>:</h5>
                        <p class="well"><em>${queries.get($qid)}</em></p>
                        <h6>Reports (<b>${nJudged.get($qid)}</b> of <b>${reports.size()}</b> judged):</h6>
                        <div class="welcome-reports well">
                            #foreach( $jReport in $reports )
                                #set( $rid = $jReport.getReportId() )
                                #set ($judgment = $jReport.getJudgment())
                                <a href="judge-report?qid=$qid&rid=$rid" target="_blank"
                                   id="view-source"
                                   class="mdl-button mdl-js-button mdl-button--raised #if ( $judgment > -1) md-button--disabled#else mdl-color--accent mdl-color-text--accent-contrast#end">
                                    <div class="material-icons">&#xE7FD;</div>$rid
                                </a>
                            #end
                        </div>
                    #end
                </div>
            </div>
        </div>

    </main>
    #parse("footer.vm")
</div>
</body>
</html>